body::before{
  display: block;
  content: '';
  height: 50px;
}

@media(min-width: 768px) {
  .news-input{
    width: 50%;
  }
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 10px;
}